<nav
	class="navbar is-flex is-justify-content-space-between is-align-items-center px-6">
	<img
		src="/images/bulma-white.svg"
		alt="bulma logo"
		class="logo" />

	<div>
		<button class="glow-on-hover">
			<a
				href="/"
				class="button is-medium"
				>Hjem</a
			>
		</button>
		<button class="glow-on-hover">
			<a
				href="/registrer"
				class="button is-medium"
				>Registrering</a
			>
		</button>
		<button class="glow-on-hover">
			<a
				href="/innlogging"
				class="button is-medium"
				>Logg inn</a
			>
		</button>
	</div>
</nav>
