<nav class="nav">
	<div class="nav-left">
		<a class="nav-item">
			<img
				src="/images/bulma.svg"
				alt="Bulma logo" />
		</a>
	</div>

	<div class="nav-right nav-menu">
		<a
			class="nav-item"
			href="/">
			Home
		</a>
		<a
			class="nav-item"
			href="/registrer">
			Documentation
		</a>
		<a
			class="nav-item"
			href="/innlogging">
			Blog
		</a>
	</div>
</nav>
