<nav>
	<button class="glow-on-hover">
		<a
			href="/"
			class="button is-small"
			>Hjem</a
		>
	</button>
	<button class="glow-on-hover">
		<a
			href="/registrer"
			class="button is-small"
			>Registrering</a
		>
	</button>

	<button class="glow-on-hover">
		<a
			href="/innlogging"
			class="button is-small"
			>Logg inn</a
		>
	</button>
</nav>
