<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h2>You logged in successfully you are userlevel: <%= userLevel %></h2>
		<% if (userLevel == 1) { %>
			<h1 class="is-size-1">
				hfaåfwafa
			</h1>
		<% } %>
		<% if (userLevel == 3) { %>
		 <h1 class="is-size-1">You are admin</h1>
		 <div class="card">
  <div class="columns">
	<div class="column is-half">
		<div class="card-image">
		  <figure class="image is-4by3">
			<img
			  src="https://static.wikia.nocookie.net/dogelore2/images/5/5d/Mmm_big_ear.png/revision/latest/scale-to-width-down/1000?cb=20220831105227"
			  alt="Placeholder image"
			/>
		  </figure>
		</div>
		<div class="container">
			<div class="card-content">
			  <div class="media">
				<div class="media-left">
				  <figure class="image is-48x48">
					<img
					  src="https://bulma.io/assets/images/placeholders/96x96.png"
					  alt="Placeholder image"
					/>
				  </figure>
				</div>
				<div class="media-content">
				  <p class="title is-4">John Smith</p>
				  <p class="subtitle is-6">@johnsmith</p>
				</div>
			  </div>
			  <div class="content">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
				iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
				<a href="#">#responsive</a>
				<br />
				<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
			  </div>
			</div>
			</div>
			  </div>
	</div>
	</div>
		<% } %>

		<a href="/bistand">bistand</a>
		<a href="/logout">Logout</a>
	</body>
</html>
