<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>my form</h1>
		<form method="post">
			<label for="">Car form</label>
			<input
				type="text"
				name="brand"
				required />
			<br />
			<label for="">Engine form</label>
			<input
				type="text"
				name="engine"
				required />
			<br />
			<label for="">Wheels form</label>
			<input
				type="text"
				name="wheels"
				required />
			<br />
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
