<!DOCTYPE html>
<html lang="en">
	<head>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="/css/style.css" />
		<meta charset="UTF-8" />
		<title>My App</title>
		<!-- You can extract styles to here -->
	</head>
	<body>
		<main>
			<!-- The body tag is where your view content will be injected -->
			<%- body %>
		</main>
		<!-- You can extract scripts to here -->
	</body>
</html>
