<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Logg inn</title>
		<link
			rel="stylesheet"
			href="/css/style.css" />
	</head>
	<body>
		<%- include('partials/navbar') %>
		<main>
			<h1>Logg inn</h1>
			<form method="post">
				<label for="">E-post</label>
				<input
					type="email"
					name="email"
					required />
				<br />
				<label for="">Passord</label>
				<input
					type="password"
					name="password"
					required />
				<button type="submit">Submit</button>
			</form>
		</main>
		<%- include('partials/footer') %>
	</body>
</html>
