<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Logg inn</title>
		<link
			rel="stylesheet"
			href="/css/style.css" />
	</head>
	<body>
		<%- include('partials/navbar') %>
		<main>
			<h1>Logg inn</h1>
			<form method="post">
				<%- include('partials/formField', {
					labelName:'E-post',
					type:"email",
					name:"email",
				}) %>
				<%- include('partials/formField', {
					labelName:'Passord',
					type:"password",
					name:"password",
				}) %>
			</form>
		</main>
		<%- include('partials/footer') %>
	</body>
</html>
