html,
body {
	height: 100%;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
	padding: 0 1rem;
}

nav {
	background-color: pink;
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
	gap: 2rem;
	justify-content: center;
}

footer {
	display: flex;
	align-items: center;
	gap: 2rem;
	width: 100%;
	height: 3rem;
	justify-content: center;
	background-color: pink;
}
.car-card {
	display: grid;
	/* margin: 0 2rem; */
	grid-template-columns: 1fr 1fr;
	max-width: 40rem;
	margin: 0 auto;
}

.car-card div {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.car-card ul {
	display: flex;
	flex-direction: column;
}

.car-image {
	width: 8rem;
}

@media screen and (max-width: 768px) {
	.car-card {
		max-width: 100%;
	}
}

@media screen and (max-width: 425px) {
	.car-card {
		max-width: 100%;
		grid-template-columns: auto;
	}
}
