/* grunnleggende oppsett for side med navbar og footer */

@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html,
body {
	height: 100%;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
	background-color: white;
}

main {
	flex: 1;
	padding: 0 1rem;
}
/* ------------------------------------------------ */

/* ------------------ Components ------------------ */

nav {
	background-color: rgb(219, 218, 218);
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
	gap: 2rem;
	justify-content: center;
}

footer {
	display: flex;
	align-items: center;
	gap: 2rem;
	width: 100%;
	height: 3rem;
	justify-content: center;
	background-color: pink;
}
/* ------------------------------------------------ */

/* --------------------- Pages --------------------- */

/* ------------------------------------------------ */

form {
	display: flex;
	flex-direction: column;
	max-width: 20rem;
	gap: 1rem;
}

form div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
