/* grunnleggende oppsett for side med navbar og footer */

@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html,
body {
	height: 100%;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
	background-color: white;
}

main {
	flex: 1;
	padding: 0 1rem;
}
/* ------------------------------------------------ */

/* ------------------ Components ------------------ */

nav {
	background-color: rgb(219, 218, 218);
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
	gap: 2rem;
	justify-content: center;
}

footer {
	display: flex;
	align-items: center;
	gap: 2rem;
	width: 100%;
	height: 3rem;
	justify-content: center;
	background-color: pink;
}
/* ------------------------------------------------ */

/* --------------------- Pages --------------------- */

/* ------------------------------------------------ */

form {
	display: flex;
	flex-direction: column;
	max-width: 20rem;
	gap: 1rem;
}

form div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.glow-on-hover a {
	border: none;
}

.glow-on-hover a:hover {
	border: none;
	background: none;
}

.glow-on-hover {
	width: 7rem;
	height: 2rem;
	border: none;
	outline: none;
	color: #fff;
	background: #7f7d7d;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.glow-on-hover:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.glow-on-hover:active {
	color: #000;
}

.glow-on-hover:active:after {
	background: transparent;
}

.glow-on-hover:hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
